*{
    margin:0;
    padding:0;
}
html,body{
    width: 100%;
    height: 100%;
}
img{
    border: none;
}
input{
    border: none;
    outline: none;
}
li{
    list-style-type: none;
}
a{
    text-decoration:none;
    color: black;
}
/*版心*/
.layout{
    width: 1200px;
    margin: 0 auto;
}