.header {
    width: 100%;
}

.layout {
    position: relative;
}

.top-banner {
    width: 100%;
    height: 90px;
    background-image: url(https://res.vmallres.com/pimages//pages/picImages/x1AjcIIPsJcqklvY76W2.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.top-banner .layout {
    position: relative;
}

.top-banner .top-banner-icon::before {
    content: '';
    width: 24px;
    height: 24px;
    background-image: url(../images/icon01.svg);
    background-repeat: no-repeat;
    background-position: -323px -84px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.shortcut {
    width: 100%;
    height: 36px;
    background-color: black;
}

.shortcut ul>li {
    float: left;
    padding: 0 8px;
    line-height: 36px;
    position: relative;
}

.shortcut ul>li>:first-child {
    padding-left: 0;
}

.shortcut ul>li>a {
    font-size: 12px;
    color: #a4a4aa;
}

.shortcut ul>li:hover .icon-dropdown {
    color: #ca151d;
}

.shortcut ul>li a:hover {
    color: #ca151d;
}

.shortcut ul>li:not(:first-child)::before {
    content: '';
    display: block;
    width: 1px;
    height: 12px;
    background-color: #d3d3d3;
    position: absolute;
    top: 14px;
    left: 0;
}

.shortcut .s-dropdown .h .icon-dropdown {
    font-size: 12px;
    color: #a4a4aa;
    position: relative;
    padding-right: 14px;
}

.s-dropdown .h .icon-dropdown::before {
    content: '';
    width: 14px;
    height: 14px;
    background-image: url(../images/icon-common.svg);
    background-repeat: no-repeat;
    background-position: -71px 0;
    position: absolute;
    top: 0;
    right: 0;
}

.s-dropdown:hover .h .icon-dropdown {
    color: #ca151d;
}

.s-dropdown {
    margin: 0 -9px;
}

.s-dropdown .h {
    padding: 0 12px 0 10px;
}

.s-dropdown:hover .h {
    background-color: #FFFFFF;
    position: relative;
    z-index: 10;
}


/*
.s-dropdown:hover .b{
    z-index: 10;
}*/

.s-dropdown:hover .h .icon-dropdown::before {
    background-position: -84px 0;
}

.s-dropdown .b .dropdown-more {
    display: none;
    width: 119px;
    height: 146px;
    font-size: 12px;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
    position: absolute;
    top: 36px;
    right: -1px;
    border-radius: 8px 0 8px 8px;
}

.s-dropdown .b .service {
    display: none;
    width: 100%;
    height: 73px;
    font-size: 12px;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
    position: absolute;
    top: 36px;
    right: -1px;
    border-radius: 8px 0 8px 8px;
}

.s-dropdown .b .nav {
    width: 893px;
    line-height: 20px;
    color: #777;
    position: absolute;
}

.s-dropdown .b .dropdown-code {
    display: none;
    padding: 20px 0 20px 0;
    width: 244px;
    height: 356px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 36px 0 rgba(0, 0, 0, 0.07);
    position: absolute;
    top: 36px;
    right: -1px;
    border-radius: 8px 0 8px 8px;
}

.s-dropdown .b .dropdown-code .dropdown-code-detail {
    /*position: absolute;*/
    padding-left: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
    overflow: hidden;
}

.s-dropdown .b .dropdown-code .dropdown-code-detail img {
    width: 90px;
    height: 90px;
    float: left;
    margin-right: 12px;
}

.s-dropdown .b .code-info {
    float: left;
    line-height: 18px;
}

.s-dropdown .b .code-info h2 {
    display: block;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 2px;
}


/*三个图标*/

.s-dropdown .b .code-info .robot {
    width: 32px;
    height: 32px;
    display: block;
    margin-top: 5px;
    margin-right: 5px;
}

.s-dropdown .b .code-info .robot:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/icon-common.svg) no-repeat;
    background-position: 0 0;
    margin-top: 1px;
}

.s-dropdown .b .code-info .ios {
    width: 32px;
    height: 32px;
    display: block;
    margin-top: 5px;
    margin-right: 5px;
}

.s-dropdown .b .code-info .ios:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/icon-common.svg) no-repeat;
    background-position: -38px -113px;
    margin-top: 1px;
}

.s-dropdown .b .code-info .wechat {
    width: 32px;
    height: 32px;
    display: block;
    margin-top: 5px;
}

.s-dropdown .b .code-info .wechat:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/icon-common.svg) no-repeat;
    background-position: -32px 0;
    margin-top: 1px;
}

.red {
    color: #cb242b!important;
    line-height: 16px;
    text-align: left;
}

.code-info-p {
    text-align: left;
    color: #777;
}


/*下拉框*/

.s-dropdown .b .dropdown-navs-icon span::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-position: -202px 0;
    background-image: url(../images/icon-common.svg);
}

.s-dropdown .b .dropdown-buy {
    width: 460px;
    height: 230px;
    line-height: 20px;
    color: #777;
    position: absolute;
}

.s-dropdown .b .dropdown-buy .buy-car {
    /* float: left; */
    margin-left: 172px;
    margin-top: 50px;
}

.s-dropdown .b .dropdown-buy .buy-p {
    /* float: left; */
    margin-top: 5px;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 400;
}

.s-dropdown .b .dropdown-buy .buy-car-p span:before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-position: -262px 0;
    /* background-position: -119px -4px; */
    background-image: url(../images/icon-common.svg);
}

.q {
    width: 185.0px;
    margin-top: 22.0px;
    margin-bottom: 20.0px;
}

.s-dropdown .b .nav .ddd a:hover {
    color: #ca151d;
}

.s-dropdown .b .dropdown-navs-icon {
    float: left;
    text-align: center;
    margin: 37px 46px 0 49px;
    color: #777;
}

.f16 {
    font-size: 16px;
}

.wzt {
    color: #333!important;
    font-weight: 700;
    text-align: left;
    margin-bottom: 6px;
}

.xxx {
    width: 185px;
    margin-top: 22.0px;
    margin-bottom: 20.0px;
    text-align: left;
}

.ddd {
    width: 80px;
    margin-bottom: 4.0px;
    height: 20px;
    text-align: left;
}

.f1 {
    float: left;
    margin-bottom: 4.0px;
}

.s-dropdown:hover .b .dropdown-more {
    display: block;
}

.s-dropdown .b .dropdown-more a {
    color: #a4a4a4;
}

.s-dropdown .b .dropdown-more a:hover {
    color: #ca151d;
}

.shortcut-left {
    float: left;
}

.shortcut-right {
    float: right;
}

.shortcut ul>li {
    z-index: 99;
}

.shortcut-right ul>li:first-child a:first-child {
    margin-right: 8px;
}

.shortcut .s-dropdown .h .icon-cart {
    font-size: 12px;
    color: #a4a4aa;
    padding-left: 14px;
    position: relative;
}

.shortcut .s-dropdown .h .icon-cart::before {
    content: '';
    width: 20px;
    height: 12px;
    background-image: url(../images/icon-commo.svg);
    background-repeat: no-repeat;
    background-position: -99px -4px;
    position: absolute;
    top: 2px;
    left: -6px;
}

.shortcut .s-dropdown:hover .h .icon-cart {
    color: #ca151d;
}

.shortcut .s-dropdown:hover .h .icon-cart::before {
    background-position: -119px -4px;
}

.header-logo {
    width: 100%;
    height: 41px;
    padding: 18px 0 15px 0;
}

.header-logo-left {
    width: 60%;
    height: 41px;
    float: left;
}

.logo {
    width: 205px;
    height: 36px;
    background-image: url(../images/hua.png);
    background-repeat: no-repeat;
    background-size: 205px 36px;
    float: left;
    margin-right: 40px;
}

.logo-right ul>li {
    float: left;
    margin-right: 24px;
}

.logo-right ul>li>a>img {
    width: 74px;
    height: 24px;
    margin-top: 7px;
}

.logo-right ul>li>a>img:hover {
    opacity: 0.7;
}

.logo-right ul>li>a>span {
    font-size: 14px;
    line-height: 36px;
}

.logo-right ul>li>a>span:hover {
    color: #ca151d;
}

.header-logo-right {
    float: right;
    width: 40%;
    height: 41px;
}

.search {
    float: right;
    width: 320px;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 30px;
    /*margin-top: 6px;*/
    border: 1px solid #f0f0f0
}

.search:hover {
    border: 1px solid #c9c9c9;
}

.search-input {
    width: 285px;
    height: 30px;
    background-color: #f0f0f0;
    text-indent: 1.5em;
    border-radius: 30px;
}

.search-form {
    position: relative;
}

.search-word {
    font-size: 12px;
    line-height: 30px;
    color: #ca151d;
    position: absolute;
    top: 0;
    right: 40px;
}

.search-word span:not(:first-child) {
    margin-left: 10px;
    color: #333333;
}

.search-input:focus+.search-word {
    display: none;
}

.icon-sousuo {
    position: absolute;
    top: 6px;
    right: 10px;
}

.search-form:hover .icon-sousou {
    color: #c9c9c9;
    opacity: 0.6;
}


/*轮播图的样式*/

.main {
    width: 100%;
    height: auto;
}

.main-banner {
    width: 100%;
    height: 550px;
    background-image: url(../images/main-banner-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transition: all 1s;
}

.category {
    width: 200px;
    height: 440px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 1;
}

.main-banner .layout {
    position: relative;
}

.category-item-bg {
    width: 100%;
    height: 73px;
}

.category-item {
    width: 100%;
    height: 74px;
}

.category ul>li:first-child .category-item-bg .category ul>li:last-child .category-item-bg {
    width: 100%;
    height: 74px;
}

.category ul>li .category-info {
    width: 150px;
    height: 45px;
    margin-left: 25px;
    padding: 13px 0 14px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.category ul>li:last-child .category-info {
    border-bottom: none;
}

.category ul>li .category-info .category-info-detail {
    width: 175px;
    height: 47px;
    overflow: hidden;
}

.category .category-title {
    height: 24px;
    margin-bottom: 12px;
}

.category .category-info-detail a {
    font-size: 14px;
    color: #a6a6a6;
    margin-right: 10px;
    display: inline-block;
}

.category .category-title a {
    font-size: 16px;
    color: #848484;
    margin-left: 10px;
    margin-top: 12px;
    text-align: center;
}

.category:hover {
    /*hover的时候 radius变直*/
    border-radius: 10px 0 0 10px;
}

.category .category-item:hover .category-info-detail a:hover {
    color: #ca151d;
}

.category .category-item:hover .category-info-detail a {
    color: black;
}

.category .category-item:hover .category-item-bg {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 46px rgba(0, 0, 0, 0.03);
    /*z-index: 30;*/
}

.category .category-item:hover .category-info {
    border: none;
    padding-bottom: 2px;
}

.category ul>li:first-child .category-item-bg {
    border-radius: 10px 0 0 0;
}

.category ul>li:last-child .category-item-bg {
    border-radius: 0 0 0 10px;
    height: 44px;
}

.category-item {
    position: relative;
}

.category-item .category-panels {
    display: none;
    height: 416px;
    background-color: #FFFFFF;
    padding: 24px 22px 0 28px;
    border-radius: 0 10px 10px 0;
    position: absolute;
    top: 0;
    left: 200px;
    box-shadow: 0 0 46px rgba(0, 0, 0, 0.1);
}

.category-item:hover .category-panels {
    display: block;
}


/*panels位置的设定*/

.category .panels-1 {
    top: 0;
    width: 662px;
}

.category .panels-2 {
    top: -74px;
    width: 254px;
}

.category .panels-3 {
    top: -148px;
    width: 254px;
}

.category .panels-4 {
    top: -222px;
    width: 1070px;
}

.category .panels-5 {
    top: -296px;
    width: 1070px;
}

.category .panels-6 {
    top: -370px;
    width: 458px;
}

.category-panels ul {
    float: left;
}


/*panels中的元素的样式设定*/

.category-panels ul li {
    position: relative;
    width: 204px;
    height: 80x;
    border-radius: 8px;
    margin-bottom: 24px;
}

.category-panels ul li .category-panels-item {
    display: block;
    width: 204px;
    height: 80px;
    font-size: 14px;
    margin-right: 0px;
    border-radius: 8px;
    margin-bottom: 24px;
}

.category-panels ul li .category-panels-item img {
    /*panel中的img图片大小的设定*/
    width: 54px;
    height: 54px;
    margin: 12px 8px 0 6px;
    float: left;
}

.category-panels ul li .category-panels-item span {
    display: block;
    width: 120px;
    margin-top: 30px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    /*文本溢出的时候 显示省略符号*/
    white-space: nowrap;
    /*文本不换行 直到遇到<br>标签为止*/
}

.category-panels ul li .category-panels-item:hover {
    background-color: #f6f6f6;
}

.category-panels ul li .category-panels-icon {
    display: block;
    width: 112px;
    height: 42px;
    line-height: 42px;
    margin-top: 18px;
    margin-left: 36px;
    border: 1px solid #f2f2f2;
    border-radius: 0 22px 22px 0;
    /*左边的弧度不改变*/
    font-size: 13px;
    color: #a7a7a7;
    position: relative;
    text-indent: 34px;
}


/*查看全部  左边圆圈的实现*/

.category-panels ul li .category-panels-icon::before {
    content: '';
    display: block;
    /*a标签变成块级元素*/
    width: 42px;
    height: 42px;
    background-color: #FFFFFF;
    border: 1px solid #f2f2f2;
    position: absolute;
    top: -1px;
    left: -22px;
    border-radius: 50%;
}


/*查看全部 三角形箭头的实现*/

.category-panels ul li .category-panels-icon::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    /*黑色全透明*/
    border-bottom: 5px solid transparent;
    border-left: 5px solid #c0c0c0;
    position: absolute;
    top: 16px;
    left: -1px;
}


/*
.category .catgory-info-detail a{
    font-size: 16px;
    color: #848484;
} 

.category .category-info > a{
    color: #a6a6a6;
    margin-right: 10px;
    font-size: 14px;
}

.category ul>li a:hover{
    color: #ca151d;
}
*/


/*轮播图圆弧样式*/

.bg-slide {
    width: 100%;
    height: 72px;
    background-image: url(../images/bg-slide.png);
    background-repeat: no-repeat;
    background-size: 100% 72px;
    position: absolute;
    bottom: 0;
    left: 0;
}


/*左右移动和轮播小点样式的实现*/

.slider-middle {
    width: 1000px;
    height: 440px;
    position: absolute;
    top: 18px;
    left: 220px;
    /*弹性布局的实现*/
    display: flex;
    justify-content: space-between;
    /*使得里面的元素平均分布(贴边)*/
    align-items: center;
    /*元素垂直居中*/
}

.slider-btn-left {
    width: 80px;
    height: 88px;
    background-image: url(../images/icon01.svg);
    background-repeat: no-repeat;
    background-position: 0 -72px;
    /*float: left;*/
}

.slider-btn-right {
    width: 80px;
    height: 80px;
    background-image: url(../images/icon01.svg);
    background-position: -80px -72px;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
}

.slider-btn-left:hover {
    background-position: -240px -72px;
}

.slider-btn-right:hover {
    background-position: -160px -72px;
}

.slider-nav {
    width: 300px;
    height: 10px;
    position: absolute;
    bottom: 0px;
    right: -100px;
}

.slider-nav ul>li {
    width: 10px;
    height: 10px;
    float: left;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 4px;
}

.slider-nav ul>li:hover {
    background-color: white;
}


/*用户登录模块*/

.main-login {
    width: 100%;
    height: 88px;
    /* background-color: #333; */
    position: relative;
    left: 0;
    bottom: 0;
}

.main-login .layout {
    position: relative;
}

.main-user-login {
    width: 100%;
    height: 88px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 26px rgba(0, 0, 0, 0.07);
    position: absolute;
    bottom: -20px;
    left: 0;
    border-radius: 10px;
}

.main-user-login ul>li {
    width: auto;
    height: 88px;
    float: left;
}

.user-login {
    width: 270px;
    height: 55px;
    margin-top: 17px;
    border-right: 1px solid #d3d3d3;
    /* background-color:red; */
}

.user-not-login {
    width: 270px;
    height: 52px;
    padding-left: 26px;
}

.user-icon {
    width: 52px;
    height: 52px;
    float: left;
    margin-right: 17px;
}

.user-icon img {
    width: 52px;
    height: 52px;
}

.user-login-register {
    width: 150px;
    height: 52px;
    float: left;
}

.user-login-url {
    font-size: 14px;
    color: #999999;
    float: left;
    margin-bottom: 4px;
}

.user-login-register a {
    color: #333333;
    margin: 0 6px;
}

.user-login-register a:hover {
    color: #ca151d;
}

.user-btn {
    width: 100%;
    height: 22px;
    margin-top: 4px;
}

.user-btn ul>li {
    width: 68px;
    height: 22px;
    line-height: 22px;
    font-size: 13px;
    text-align: center;
    margin-right: 5px;
    border-radius: 5px;
}

.user-btn-new {
    color: #DE5B60;
    border: 1px solid #de5b6d;
}

.user-btn-vip {
    color: #FDE483;
    background-color: #595454;
}

.user-btn-new:hover {
    background-color: #d35b60;
    color: #FFFFFF;
}

.user-btn-vip:hover {
    background-color: #333333;
}

.main-user-icon {
    width: 625px;
    height: 64px;
    margin-top: 14px;
}

.main-user-icon ul {
    display: table;
}

.main-user-icon ul>li {
    width: 104px;
    height: 64px;
    display: table-cell;
}

.main-user-icon ul>li>a {
    display: block;
    width: 84px;
    height: 64px;
    margin: 0 10px;
}

.main-user-icon ul>li .p-img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    position: relative;
}

.main-user-icon .img {
    width: 72px;
    height: 72px;
    transform: scale(0.6, 0.6);
    background-image: url(../images/main-user-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: -12px;
    left: -14px;
    position: absolute;
}

.main-user-icon .img1 {
    background-position: 0 0;
}

.main-user-icon .img2 {
    background-position: -72px -4px;
}

.main-user-icon .img3 {
    background-position: -144px -4px;
}

.main-user-icon .img4 {
    background-position: -216px -4px;
}

.main-user-icon .img5 {
    background-position: -288px -4px;
}

.main-user-icon .img6 {
    background-position: -360px -4px;
}

.main-user-icon .p-desc {
    /*商品字体的设定*/
    width: 100%;
    height: 24px;
    line-height: 12px;
    color: #777777;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 7px;
}

.main-user-icon ul>li>a:hover .p-desc {
    color: #ca151d;
}

.main-user-login ul>li:last-child {
    border-right: 1px solid #eeeeee;
}


/*登录模块第三部分*/

.login-right-top {
    width: 266px;
    height: 44px;
    border-bottom: 1px solid #eeeeee;
}

.login-right-top span {
    width: 29px;
    height: 100%;
    display: block;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-left: 20px;
    float: left;
    color: #777;
}

.login-right-top-word {
    font-size: 12px;
    margin-left: 20px;
    line-height: 44px;
    color: #2f2f2f;
    float: left;
}

.login-right-icon {
    width: 267px;
    height: 44px;
}

.login-right-icon>ul>li {
    width: 89px;
    height: 42px;
    float: left;
}

.login-right-icon>ul>li:last-child {
    width: 88px;
}

.login-right-icon ul>li span {
    color: #777;
    font-size: 12px;
    /* margin-top: 8px; */
}

.login-right-icon ul>li span:hover {
    color: #ca151d;
}

.small-icon {
    width: 28px;
    height: 28px;
    margin-left: 8px;
    background-image: url(../images/main-user-icon.png);
    background-repeat: no-repeat;
    transform: scale(0.556);
    margin-top: 8px;
    float: left;
}

.icon-1 {
    background-position: -486px -6px;
}

.icon-2 {
    background-position: -524px -8px;
}

.icon-3 {
    background-position: -566px -6px;
}

.small-icon-word {
    font-size: 12px;
    line-height: 44px;
}

.main-container-1 {
    width: 100%;
    height: 200px;
    position: relative;
    top: -50px;
}

.main-container-1 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container-1 ul>li {
    width: 290px;
    height: 200px;
}

.main-container-1 ul>li>img {
    width: 290px;
    height: 200px;
    border-radius: 10px;
}

.main-container-1 ul>li:hover {
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.1);
}


/*第二模块*/

.main-container-2 {
    width: 100%;
    height: 700px;
    position: relative;
}

.main-container-2 .title h2 {
    font-size: 26px;
    font-weight: 400;
    padding: 27px 0 23px;
}

.main-container-2 .content {
    width: 100%;
    height: 592px;
    /* position: absolute; */
}

.main-container-2 .content ul {
    display: grid;
    /*设置grid布局*/
    grid-template-columns: 230px 230px 230px 230px 230px;
    /*分成5列 列宽230px*/
    grid-template-rows: 290px 290px;
    /*分成2行 行高290px*/
    grid-column-gap: 10px;
    /* 宽度间隙 */
    grid-row-gap: 10px;
    /* 高度间隙 */
}

.main-container-2 .content ul>li:first-child {
    grid-row-start: 1;
    /*从第一条行分割线开始*/
    grid-row-end: 3;
    /*到第三个行分割线结束*/
}

.main-container-2 .content ul>li:first-child img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.grid-item {
    position: relative;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.grid-item:hover {
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.1);
}

.grid-item .grid-img {
    width: 150px;
    height: 150px;
    margin: 35px auto 0;
}

.grid-item .grid-img img {
    width: 150px;
    height: 150px;
}

.grid-item .grid-title {
    width: 210px;
    height: 21px;
    font-size: 14px;
    margin: 10px auto 0;
    text-align: center;
}

.grid-item .grid-desc {
    width: 190px;
    height: 21px;
    margin: 2px 20px 7px;
    padding: 0 10px;
    font-size: 12px;
    color: #777777;
    margin: 8px auto 0;
    text-align: center;
}

.grid-item .grid-price {
    width: 230px;
    height: 21px;
    font-size: 14px;
    color: #d0021b;
    margin: 8px auto 0;
    text-align: center;
}

.grid-item .grid-tips {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 48px;
}

.grid-item .grid-tips .thumb {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
}

.grid-item .grid-tips span {
    display: inline-block;
    padding: 0 9px;
    margin: 0 auto;
    height: 22px;
    line-height: 22px;
    color: #ffffff;
    border-radius: 0 0 6px 6px;
    font-size: 12px;
}

.grid-item .grid-tips .color1 {
    background-color: #ff6a6e;
}

.grid-item .grid-tips .color2 {
    background-color: #68beff;
}


/* 第三模块 */

.main-container-3 {
    width: 100%;
    height: 364px;
    position: relative;
    top: -30px;
}

.main-container-3 .content {
    position: absolute;
}

.main-container-3 .title h2 {
    font-size: 26px;
    font-weight: 400;
    padding: 27px 0 23px;
}

.main-container-3 .content ul {
    display: grid;
    grid-template-columns: 230px 230px 230px 230px 230px;
    grid-template-rows: 295px;
    grid-column-gap: 10px;
}

.grid-info {
    width: 230px;
    height: 205px;
    margin: 0 auto;
    padding-top: 36px;
    background-color: #ffffff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    position: relative;
}

.grid-info:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.grid-info .grid-img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 19px;
}

.grid-info .grid-img img {
    width: 150px;
    height: 150px;
}

.grid-info .grid-desc {
    width: 100%;
    height: 36px;
    background-color: #f3f3f3;
    color: #777777;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 8px 8px;
    line-height: 36px;
    font-size: 14px;
    text-align: center;
}

.grid-info+.grid-title {
    /*只影响.grid-title*/
    width: 210px;
    height: 21px;
    font-size: 14px;
    margin: 10px auto 0;
    text-align: center;
}

.grid-info+.grid-title+.grid-price {
    /*只影响.grid-price*/
    width: 230px;
    height: 21px;
    font-size: 14px;
    color: #d0021b;
    margin: 8px auto 0;
    text-align: center;
}

.grid-info .grid-tips {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 48px;
}

.grid-info .grid-tips .thumb {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
}

.grid-info .grid-tips span {
    display: inline-block;
    padding: 0 9px;
    margin: 0 auto;
    height: 22px;
    line-height: 22px;
    color: #ffffff;
    border-radius: 0 0 6px 6px;
    font-size: 12px;
}

.grid-info .grid-tips .color1 {
    background-color: #ff6a6e;
}

.grid-info .grid-tips .color2 {
    background-color: #68beff;
}


/*右侧选项卡内容 -- 结束 --*/


/*轮播图下方弧度图片 -- 开始 --*/

.bg-slide {
    width: 100%;
    height: 72px;
    background-image: url(../images/bg-slide.png);
    background-repeat: no-repeat;
    background-size: 100% 72px;
    position: absolute;
    bottom: 0;
    left: 0;
}


/*第四模块*/

.main-container-4 {
    width: 100%;
    height: 120px;
    position: relative;
    top: 30px;
}

.main-container-4 .layout {
    position: relative;
}

.main-container-4 img {
    width: 100%;
    height: 120px;
    border-radius: 8px;
    transition: all 1s;
    /* position: absolute; */
}

.main-container-4 .content-nav ul {
    width: 170px;
    height: 10px;
    /* border: 1px solid #FFFFFF; */
    position: absolute;
    bottom: 10px;
    right: 0;
}

.main-container-4 .content-nav ul>li {
    width: 10px;
    height: 10px;
    margin-right: 6px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    float: left;
    margin-left: 3px;
}

.main-container-4 .content-nav ul>li:hover {
    background-color: #FFFFFF;
}


/*第五模块*/

.main-container-5 {
    width: 100%;
    height: 4163px;
    position: relative;
    top: 60px;
}

.main-container-5 .content {
    width: 100%;
    position: relative;
}

.main-container-5 .content-1 {
    height: 1883px;
}

.main-container-5 .content-1 .b>ul {
    display: grid;
    grid-template-columns: 230px 230px 230px 230px 230px;
    grid-template-rows: 290px 290px 290px 290px 290px 290px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.main-container-5 .content-2 {
    height: 648px;
}

.main-container-5 .content-2 .b>ul {
    display: grid;
    grid-template-columns: 230px 230px 230px 230px 230px;
    grid-template-rows: 290px 290px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.main-container-5 .content-3 {
    height: 648px;
}

.main-container-5 .content-3 .b>ul {
    display: grid;
    grid-template-columns: 230px 230px 230px 230px 230px;
    grid-template-rows: 290px 290px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.main-container-5 .content-4 {
    height: 648px;
}


/*第四个部分的样式开始*/

.main-container-5 .content-4 {
    height: 604px;
}

.main-container-5 .content-4 .b>ul {
    display: grid;
    grid-template-columns: 230px 230px 230px 230px 230px;
    grid-template-rows: 290px 290px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.main-container-5 .content-4 .b>ul>li:first-child {
    grid-column-start: 1;
    /*从第一条行分割线开始*/
    grid-column-end: 3;
    /*到第三个行分割线结束*/
}


/*第四个部分样式结束*/

.main-container-5 .content .b {
    position: absolute;
    top: 44px;
    left: 0;
}


/*复用*/

.content .h h2 {
    font-size: 26px;
    font-weight: 400;
    float: left;
}

.content .h ul {
    width: 920px;
    height: 32px;
    margin-left: 30px;
    float: left;
    /* background-color:red; */
}

.content .h ul>li {
    float: left;
    margin-top: 10px;
}

.content .h ul>li>a {
    font-size: 14px;
    color: #999999;
    margin-right: 20px;
}

.content .h ul>li>a:hover {
    color: #ca151d;
}

.content .h .content-more>a:hover {
    color: #ca151d;
}

.content .h .content-more {
    float: right;
}

.content .h .content-more>a {
    display: block;
    font-size: 14px;
    color: #333333;
    margin-top: 13px;
}

.content .content-more>span {
    margin-top: 3px;
}


/*复用结束*/


/*第一张图片的设置*/

.grid-item .thumb img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.main-container-6 {
    width: 100%;
    height: 200px;
}

.main-container-6 .content img {
    border-radius: 10px;
}

.footer {
    position: relative;
    top: 30px;
}


/*footer尾部的实现*/

.footer .slogan-container {
    width: 100%;
    height: 82px;
    position: relative;
    background-color: #f9f9f9;
}

.slogan {
    width: 100%;
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slogan ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 100%;
}

.slogan ul>li {
    width: 325px;
    height: 40px;
    padding-right: 90px;
}

.slogan ul>li:last-child {
    padding: 0;
}

.slogan li i {
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../images/icon01.svg);
    background-repeat: no-repeat;
    float: left;
}

.s1 i {
    background-position: -74px 0;
}

.s2 i {
    background-position: -154px 0;
}

.s3 i {
    background-position: -194px 0;
}

.s4 i {
    background-position: -114px 0;
}

.slogan li a div {
    display: inline-block;
    margin-left: 6px;
}

.slogan li a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.footer .service-container {
    width: 100%;
    height: 211px;
    position: relative;
    background-color: #f9f9f9;
    z-index: 10;
}

.footer .service-container .layout {
    position: relative;
}

.service {
    width: 100%;
    height: 211px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service .service-left {
    width: 921px;
    height: 160px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    border-right: 1px solid #e5e5e5;
}

.service .service-left dl {
    float: left;
    margin-left: -50px;
}

.service .service-left dl>dt>p.title {
    height: 28px;
    font-size: 14px;
}

.service .service-left dl>dd {
    height: 22px;
    font-size: 12px;
    color: #777777;
}

.service .service-left dl>dt>p.title>span {
    font-size: 14px;
}

.service .service-left dl>dt>p.title>.left {
    color: #969696;
}

.service .service-right {
    width: 278px;
    height: 160px;
    text-align: center;
}

.service .service-right dl>dt>p.title {
    font-weight: 900;
    color: #575757;
    font-size: 24px;
}

.service .service-right dl>dd:nth-child(2)>a {
    color: #777777;
    font-size: 12px;
}

.service .service-right dl>dd:nth-child(3)>a {
    display: block;
    width: 170px;
    height: 34px;
    border-radius: 34px;
    background-color: #333333;
    margin: 20px auto 0;
}

.service .service-right dl>dd:nth-child(3)>a>span {
    color: #FFFFFF;
    font-size: 16px;
    float: left;
    line-height: 34px;
    margin-left: 34px;
}

.service .service-right dl>dd:nth-child(3)>a>div {
    margin-left: 15px;
    color: #FFFFFF;
    float: left;
    line-height: 34px;
}

.service-code {
    width: 200px;
    height: 24px;
    margin: 20px auto 0;
}

.service-code h2 {
    font-size: 14px;
    font-weight: 400;
    float: left;
}

.service-code ul {
    float: left;
}

.service-code ul>li {
    float: left;
    margin-left: 10px;
}

.footer .footer-container {
    width: 100%;
    height: 114px;
    background-color: #F9F9F9;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer-container .footer-service {
    width: 100%;
    height: 61px;
}

.footer-serivce .footer-logo {
    width: 82px;
    height: 20px;
    padding: 3px 20px 0 0;
    float: left;
}

.footer-logo img {
    width: 82px;
    height: 20px;
}

.footer-content {
    width: 802px;
    height: 61px;
    float: left;
}

.footer-content ul:not(:first-child) {
    margin-top: 20px;
}

.footer-content ul>li {
    font-size: 10px;
    padding-right: 6px;
    margin-right: 6px;
    color: #777777;
    float: left;
}

.footer-content ul:first-child>li:not(:last-child) {
    border-right: 1px solid #d3d3d3;
}

.footer-content ul:last-child li {
    margin-top: 5px;
}

.footer-icon {
    float: right;
}

.footer-icon img {
    width: 70px;
    height: 24px;
}

.grid-items .grid-tips {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 48px;
}

.grid-items .grid-tips .thumb {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
}

.grid-items .grid-tips span {
    display: inline-block;
    padding: 0 9px;
    margin: 0 auto;
    height: 22px;
    line-height: 22px;
    color: #ffffff;
    border-radius: 0 0 6px 6px;
    font-size: 12px;
}

.grid-items .grid-tips .color1 {
    background-color: #ff6a6e;
}

.grid-items .grid-tips .color2 {
    background-color: #68beff;
}

.goodsContent {
    width: 1212px;
    height: 240px;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
    /* transition: all 1s; */
}

.goodsContent ul li {
    float: left;
}

.goodsContent .grid-list {
    width: 5000px;
    height: 240px;
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0.3s;
}

.goodsContent .grid-list .grid-items {
    width: 202px;
    height: 240px;
    /* background-color: #333; */
    position: relative;
}

.goodsContent .grid-list .grid-info {
    width: 190px;
    height: 156px;
    padding-top: 34px;
    background: #f9f9f9;
    box-shadow: none;
}

.grid-list .grid-desc {
    width: 188px;
    bottom: 47px;
    left: 7px;
    line-height: 32px;
    height: 32px;
    background: #f3f3f3;
    color: #777;
    font-size: 12px;
    margin: 0;
    position: absolute;
    border-radius: 10px;
    text-align: center;
}

.goodsContent .grid-list .grid-price {
    width: 202px;
    height: 21px;
    font-size: 14px;
    color: #d0021b;
    text-align: center;
}

.goodsContent .grid-list .grid-img {
    width: 120px;
    height: 120px;
    margin-bottom: 0;
}

.goodsContent .grid-list .grid-info img {
    width: 120px;
    height: 120px;
}


/* 
.hr-27{
    height: 27px;
} */

.grid-btn-left {
    width: 36px;
    height: 72px;
    bottom: 110px;
    left: 7px;
    background: rgba(0, 0, 0, 0.06);
    text-align: center;
    border-radius: 0 8px 8px 0;
    /* display: none; */
    /* background-color: red; */
    position: absolute;
    display: none;
}

.grid-btn-left:hover {
    background: rgba(0, 0, 0, 0.18);
}

.grid-btn-left span {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    /* padding: 3px; */
    height: 10px;
    width: 10px;
    top: 29px;
    left: 12px;
    position: absolute;
    transform: rotate(135deg);
    /* -webkit-transform: rotate(135deg); */
}

.grid-btn-right {
    width: 36px;
    height: 72px;
    bottom: 110px;
    right: 7px;
    background: rgba(0, 0, 0, 0.06);
    text-align: center;
    border-radius: 8px 0 0 8px;
    position: absolute;
    /* background-color: red; */
}

.grid-btn-right:hover {
    background: rgba(0, 0, 0, 0.18);
}

.grid-btn-right span {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    /* padding: 3px; */
    height: 10px;
    width: 10px;
    top: 29px;
    left: 12px;
    position: absolute;
    transform: rotate(-45deg);
    /* -webkit-transform: rotate(-45deg); */
}

.service-container .service-left dl dd:hover {
    color: #ca151d;
}